---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<ol>
<li><p><strong>16 bit Brent Kung Adder - Layout, Back extract and Simulate in Cadence</strong> (Oct '19 - Nov '19) <br /> 
  <em>Advisor: Prof. Dinesh Sharma, EE, IITB</em> <br /> 
Designed the schematic and layout for a Brent Kung Adder starting from various functional modules, testing each of them and finally combining them. <br />
Obtained correct DRC and LVS report of individual modules and whole adder; conducted post layout simulation results and got accurate functionality. 
  <a href="https://dimplekochar.github.io/files/report671.pdf">[Report]</a>
  <a href="https://github.com/dimplekochar/Butler_Matrix">[files]</a></p></li>

<li><p><strong> 4X4 Butler Matrix Circuit </strong> (Aug '19 - Nov '19) <br /> 
  <em>Advisor: Prof. Jayanta Mukherjee, EE, IITB</em> <br /> 
Designed a broadband 4X4 Butler matrix circuit using microstrip transmission line at frequency of operation of 5.4 GHz using Advanced Design System (ADS) software. <br /> 
 Fabricated the circuit on FR4 substrate and tested it 
  <a href="https://dimplekochar.github.io/files/report611.pdf">[Report]</a>
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Analog_Project_Simulation_Report.pdf">[files]</a></p></li>

<li><p><strong> Power Amplifier Design </strong> (Feb '19 - Apr '19) <br /> 
  <em>Advisor: Prof. Jayanta Mukherjee, EE, IITB</em> <br /> 
Designed a power amplifier using AFIC901N for a gain of 2.5 dB at 520 MHz with S<sub>11<\sub> and S<sub>12<\sub> values nearly -18 dB and -35 dB respectively.
  Constructed appropriate matching networks and bias-tee for the given amplifier IC.
  <a href="https://dimplekochar.github.io/files/report614.pdf">[Report]</a>
  <a href="https://github.com/dimplekochar/Power_Amplifier_Design">[files]</a></p></li>

<li><p><strong>TEQUIP </strong> (Feb '19 - Mar '19) <br /> 
  <em>Advisor: Prof. V. M. Gadre, EE, IITB</em> <br /> 
Designed a 6 stage pipelined microprocessor capable of executing 15 instructions and equipped it with control flow and data dependency hazard detection
  and hazard mitigation. Implemented the design in VHDL and tested it on a DE0-Nano FPGA board.
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Touchless%20Gesture%20Recognition.pdf">[Presentation]</a>
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Analog_Project_Simulation_Report.pdf">[Ideation]</a></p></li>

<li><p><strong>Noise Free Roads - EDL </strong> (Jan '19 - May '19) <br /> 
  <em>Advisor: Prof. Pramod Murali, EE, IITB</em> <br /> 
Designed a 6 stage pipelined microprocessor capable of executing 15 instructions and equipped it with control flow and data dependency hazard detection
  and hazard mitigation. Implemented the design in VHDL and tested it on a DE0-Nano FPGA board.
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Touchless%20Gesture%20Recognition.pdf">[Presentation]</a>
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Analog_Project_Simulation_Report.pdf">[Ideation]</a></p></li>


  <li><p><strong>Pipelined RISC Microprocessor</strong> (Jul '18 - Nov '18) <br /> 
  <em>Advisor: Prof.  Virendra Singh, EE, IITB</em> <br /> 
Designed a 6 stage pipelined microprocessor capable of executing 15 instructions and equipped it with control flow and data dependency hazard detection
  and hazard mitigation. Implemented the design in VHDL and tested it on a DE0-Nano FPGA board.
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Touchless%20Gesture%20Recognition.pdf">[Presentation]</a>
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Analog_Project_Simulation_Report.pdf">[Ideation]</a></p></li>

<li><p><strong>Music Genre Identification</strong> (Feb '18 - May '18) <br /> 
  <em>Advisor: Prof. Preethi Jyothi, CSE, IITB</em> <br /> 
Researched and found that the timbre feature corresponding to the loudest parts of the song gives
better clustering of audio samples and implemented Principal Component Analysis (PCA) to show it
Contrived Bayesian Optimization for tuning of hyperparameters to compute posterior probability
loss; utilized Gini Index for splitting at each node in Random Forests
Achieved an accuracy of 56% and an F1 score of 50.65% using the Random Forest algorithm
  <a href="https://github.com/dimplekochar/Music_Genre_Identification/blob/master/Research-Report/Music%20Genre%20Identification.pdf">[Presentation]</a>
  <a href="https://github.com/dimplekochar/Music_Genre_Identification/blob/master/Research-Report/Project-Report.pdf">[Report]</a></p></li>


<li><p><strong>Touchless Gesture Recognition</strong> (Feb '18 - Apr '18) <br /> 
  <em>Advisor: Prof. Siddharth Tallur, EE, IITB</em> <br /> 
Designed and implemented a touchless gesture audio volume controller, motion tracker (using an LED matrix) 
  and a pattern lock by gesture detection using infrared emitters and sensors
Implemented the digital logic on an Altera CPLD by coding in VHDL on Altera Quartus software
Part of a 2 member team that was awarded the best project among 70 teams  
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Touchless%20Gesture%20Recognition.pdf">[Presentation]</a>
  <a href="https://github.com/dimplekochar/Touchless_Gesture_Recognition/blob/master/Analog_Project_Simulation_Report.pdf">[Ideation]</a></p></li>
</ol>


